html, body {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/*#################### Header ###########################################*/

.header{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-bottom: 1px solid #eee;
  /*background: linear-gradient(to right, rgb(215, 215, 235), rgb(213, 245, 213));*/
}

.logo{
  font-weight: bold;
  font-family:Impact, sans-serif;
  padding: 10px;
  cursor: pointer;
  font-size: larger;
  transition: background-color 0.5s;
}

.logo:hover{
  border: solid 1px;
  border-radius: 5px;
  background-color: hsl(110, 85%, 69%);
}

.header-signin{
  border-radius: 50px;
}

.header-searcher-bundle{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

/* Links look tidy and clickable */
.header-searcher-bundle a {
  text-decoration: none;
  color: inherit;
  padding: 20px 20px;
  border-radius: 6px;
  transition: background-color .2s;
}

.header-searcher-bundle a:hover {
  cursor: pointer;
  background-color: hsl(110, 85%, 69%);
}

.header-search{
  width: 25rem;
  height: 20px;
  border-radius: 5px;
}

.header-button{
  border-radius: 5px;
  border: solid 1px;
  font-weight: bold;
  height: 25px;
  margin: 10px 10px;
  background-color: hsl(110, 85%, 69%);
}

/*################################ Homepage #####################################*/
.main{
  height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  margin-left: 2px;
}

/*############################## ControlPane ########################################*/
.main-control-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
  width: 320px;
  height: 40%;
}

.control-buttons{
 flex:1
 }

.control-btn{
 font-size: 1.0rem;
 font-weight: bold;
 padding: 10px 20px;
 margin: 10px 10px;
 border-radius: 10px;
 min-width: 10px;
 color: black;
 cursor: pointer;
 transition: background-color 0.3 ease;
 background-color: hsl(83, 98%, 68%);
}

.control-btn:hover{
  background-color: hsl(83, 98%, 60%);
}
.control-label{
 font-weight: bold;
}

.control-select-group{
 display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: sans-serif;
}

.control-select option{
font-weight: bold;
padding: 20px;
width: 20px;
}

.home-container{
  border: solid 1px;
  border-radius: 10px;
  margin-top: 25px;
  min-width: 100vh;
}

.rightpane-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 10px;
  margin-top: 25px;
  width: 400px;
  margin-right: 10px;
  height: 70%;
  
}

.iterate-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 10px;
  padding:20px;
  margin-bottom: 2px;
  list-style: none;
}

.right-but{
  padding: 10px;
  border-radius: 10px;
  margin-left: 5px;
  background-color: rgb(142, 245, 211);
  transition: ease 0.5s;
}

.right-but:hover{
  background-color:  rgb(179, 245, 223);
  box-shadow: 2px 2px;
}

/* ############################## Footer #########################################*/

.footer{
  border: solid 1px;
  padding: 50px;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to right, rgb(227, 240, 203), rgb(209, 231, 240));
  margin-top: auto; /* pushes footer down */
}


/* Responsive tweaks */
@media (max-width: 700px) {
  .header { padding: 12px 16px; }
  .header-search { width: 100%; }
}

